@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

//reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

//variables
$veryDarkBlue: hsl(243, 87%, 12%);
$desaturatedBlue: hsl(238, 22%, 44%);
$brightBlue: hsl(224, 93%, 58%);
$moderateCyan: hsl(170, 45%, 43%);
$lightGrayishBlue: hsl(240, 75%, 98%);
$lightGray: hsl(0, 0%, 75%);
$white: #fff;

//mixins
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (min-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (min-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (min-width: 1400px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

.upper {
  background: url(/images/bg-curve-mobile.svg) no-repeat 51% 100%;
  background-size: 272% 52%;
}

.content-container {
  width: 90%;
  margin: auto;

  @include respond(desktop) {
  }
}

.logo {
  width: 11rem;
}

.header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.header-menu {
  font-size: 1.4rem;
  display: flex;

  &__menu-item {
    list-style: none;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__intro-image {
    width: 75%;
    margin-bottom: 4rem;
  }

  &__intro-title {
    width: 100%;
    text-align: center;
    font-size: 3.1rem;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 2.5rem;
  }

  &__intro-text {
    width: 90%;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.7rem;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
  }

  &__input {
    width: 100%;
    padding: 2rem 9rem;
    // font-size: 2.1rem;
    margin-bottom: 3rem;
  }

  &__intro-button {
    width: 100%;
    padding: 2rem 9rem;
    border: none;
    font-size: 2.1rem;
    background-color: $brightBlue;
    color: $white;
  }
}

.see-how {
  color: $moderateCyan;
  text-decoration: none;
  border-bottom: 1px solid $moderateCyan;
  padding-bottom: 0.8rem;
  margin-bottom: 3rem;
}

.icon-arrow {
  width: 25px;
  position: relative;
  top: 8px;
}

.testimonial-box {
  font-family: 'Open Sans', sans-serif;
  background-color: $white;
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
  padding: 3rem 1.5rem 2rem 1.5rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

  &:not(:last-child) {
    margin-right: 4rem;
  }
}

.testimonial-text {
  font-size: 1.7rem;

  margin-bottom: 2rem;

  @include respond(phone) {
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.7;
  }
}

.user-info {
  display: flex;
  align-items: center;

  &__image {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 100px;
    margin-right: 2rem;

    @include respond(phone) {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 1.4rem;

    @include respond(phone) {
      font-size: 1.2rem;
    }
  }
  &__title {
    font-size: 1.2rem;
    @include respond(phone) {
      font-size: 1rem;
    }
  }
}

.action {
  background-color: $desaturatedBlue;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

ion-icon {
  font-size: 25px;
  color: #fff;
  margin-left: 1.5rem;

  &:not(:last-of-type) {
    margin-left: 1.5rem;
  }
}

.footer {
  background-color: $veryDarkBlue;
  padding-top: 19rem;
  padding-bottom: 7rem;
  color: $white;

  &__text {
    display: flex;
  }

  &__logo {
    margin-bottom: 3rem;
    width: 20rem;
  }

  &__container {
    width: 85%;
    margin: auto;
  }

  &__content {
    display: block;

    padding: 1rem;
  }

  &__text {
    flex: 2;
    font-family: 'Open Sans', sans-serif;
    margin-right: 3rem;
    margin-bottom: 3rem;
    font-size: 1.9rem;
  }

  &__contact {
    flex: 2;
    list-style: none;
  }

  &__info {
    flex: 1;
    list-style: none;
    margin-bottom: 7rem;
  }
  &__general {
    flex: 1;
    list-style: none;
    margin-bottom: 7rem;
  }
  &__social {
    flex: none;
    text-align: center;
  }

  &__item {
    margin-bottom: 2rem;
    font-size: 1.9rem;
    font-weight: 600;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
