@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

//reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

//variables
$veryDarkBlue: hsl(243, 87%, 12%);
$desaturatedBlue: hsl(238, 22%, 44%);
$brightBlue: hsl(224, 93%, 58%);
$moderateCyan: hsl(170, 45%, 43%);
$lightGrayishBlue: hsl(240, 75%, 98%);
$lightGray: hsl(0, 0%, 75%);
$white: #fff;

//mixins
@mixin respond($breakpoint) {
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 1400px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (min-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media (min-width: 600px) {
      @content;
    }
  }
}

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

.upper {
  background: url(/images/bg-curve-mobile.svg) no-repeat 51% 100%;
  background-size: 272% 52%;

  @include respond(tab-port) {
    background-size: 272% 50%;
  }
}

.content-container {
  width: 90%;
  margin: auto;
}

.header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;

  @include respond(tab-port) {
    height: 19rem;
    margin-bottom: 3rem;
  }

  &__logo {
    width: 8rem;

    @include respond(tab-port) {
      width: 18rem;
    }
  }

  &__menu {
    font-size: 1.4rem;
    display: flex;

    &__menu-item {
      list-style: none;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      @include respond(tab-port) {
        font-size: 1.9rem;

        &:not(:last-child) {
          margin-right: 6rem;
        }
      }
    }
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 18rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include respond(tab-port) {
    // margin-bottom: 15rem;
    flex-direction: row;
    margin-bottom: 36rem;

    &:last-of-type {
      padding-bottom: 10.5rem;
    }
  }

  &__left {
    @include respond(tab-port) {
      order: 1;
    }
  }

  &__intro-image {
    width: 90%;
    margin-bottom: 4rem;

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__intro-title {
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 3rem;
    font-family: 'Raleway', sans-serif;

    @include respond(tab-port) {
      font-size: 4.5rem;
      text-align: left;
      line-height: 1.5;
      margin-bottom: 1.6rem;
      width: 88%;
      margin-top: -1.4rem;
    }
  }

  &__intro-text {
    width: 90%;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;

    @include respond(tab-port) {
      font-size: 2rem;
      text-align: left;
      margin-bottom: 2rem;
    }
  }

  &__input {
    width: 100%;
    padding: 1.3rem 1rem;
    // font-size: 2.1rem;
    margin-bottom: 1.7rem;
    border: 1px solid $lightGray;
    @include respond(tab-port) {
      width: 47%;
      margin-right: 1rem;
    }
  }

  &__intro-button {
    width: 100%;
    padding: 1.4rem 5rem;
    border: none;
    font-size: 1.5rem;
    background-color: $brightBlue;
    color: $white;

    &:hover {
      background-color: darken($brightBlue, 20%);
    }

    @include respond(tab-port) {
      width: 30%;
    }
  }

  &__middle-title {
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 2rem;

    @include respond(tab-port) {
      font-size: 4.4rem;
      text-align: left;
      margin-bottom: 4rem;
    }
  }

  &__middle-image {
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__middle-text {
    width: 90%;
    text-align: left;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;

    &:last-of-type {
      margin-bottom: 4rem;
    }

    @include respond(tab-port) {
      font-size: 1.9rem;
      width: 70%;
      &:last-of-type {
        margin-bottom: 2rem;
      }
    }
  }
}

.flex {
  flex: 50%;
}

.middle {
  margin-bottom: 6rem;
}

.see-how {
  text-align: center;
  margin-bottom: 5rem;

  @include respond(tab-port) {
    text-align: left;
  }

  &__container {
    color: $moderateCyan;
    text-decoration: none;
    border-bottom: 1px solid $moderateCyan;
    padding-bottom: 0.3rem;
    font-size: 1.5rem;
  }
}

.icon-arrow {
  width: 20px;
  position: relative;
  top: 8px;
}

.testimonial-box {
  font-family: 'Open Sans', sans-serif;
  background-color: $white;
  width: 90%;
  margin: auto;
  margin-bottom: 8rem;
  padding: 3rem 1.5rem 2rem 1.5rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  background: url(/images/icon-quotes.svg) no-repeat 10% 15%;
  background-size: 5% 5%;

  &:not(:last-child) {
    margin-right: 4rem;
  }

  @include respond(tab-port) {
    width: 44%;
    margin: 0;
    padding: 6.5rem 4rem 4rem 4rem;
    background: url(/images/icon-quotes.svg) no-repeat 12% 18%;
    background-size: 5% 7%;
  }
}

.testimonial-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 1.5rem;

  @include respond(phone) {
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.7;
  }
}

.user-info {
  display: flex;
  align-items: center;

  &__image {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 100px;
    margin-right: 2rem;

    @include respond(phone) {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 1rem;

    @include respond(tab-port) {
      font-size: 1.4rem;
    }
  }
  &__title {
    font-size: 1rem;
    @include respond(tab-port) {
      font-size: 1.4rem;
    }
  }
}

.action {
  background-color: $desaturatedBlue;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;

  @include respond(tab-port) {
    flex-direction: row;
    padding: 12rem 10rem 8rem 10rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__title {
    margin-bottom: 3rem;
    font-size: 1.5rem;

    @include respond(tab-port) {
      font-size: 3.3rem;
    }
  }

  &__description {
    margin-bottom: 3rem;
    font-size: 1.3rem;

    @include respond(tab-port) {
      font-size: 2rem;
      width: 70%;
      margin-bottom: 0;
    }
  }

  &__right {
    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
      flex: 40%;
    }
  }

  &__left {
    @include respond(tab-port) {
      flex: 60%;
    }
  }

  &__input {
    width: 100%;
    padding: 1rem 1rem;
    // font-size: 2.1rem;
    background-color: $white;
    margin-bottom: 0.7rem;
    border: none;

    @include respond(tab-port) {
      display: inline-block;
      width: 94%;
      padding: 2rem 1rem;
      margin-bottom: 2rem;
      margin-left: -2.5rem;
    }
  }

  &__button {
    width: 100%;
    padding: 1rem 7rem;
    border: none;
    font-size: 1.2rem;
    background-color: $brightBlue;
    color: $white;

    &:hover {
      background-color: darken($brightBlue, 20%);
    }

    @include respond(tab-port) {
      width: 60%;
      padding: 2rem 7rem;
      margin-left: -2.5rem;
    }
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

ion-icon {
  font-size: 25px;
  color: #fff;
  margin-left: 1.5rem;

  &:not(:last-of-type) {
    margin-left: 1.5rem;
  }
}

.footer {
  background-color: $veryDarkBlue;
  padding-top: 5rem;
  padding-bottom: 7rem;
  color: $white;

  @include respond(tab-port) {
    padding-bottom: 0;
  }

  &__text {
    display: flex;
  }

  &__logo {
    margin-bottom: 3rem;
    width: 18rem;
  }

  &__container {
    width: 85%;
    margin: auto;

    @include respond(tab-port) {
      margin-top: 6.5rem;
    }
  }

  &__content {
    display: block;

    padding: 1rem;
    @include respond(tab-port) {
      display: flex;
    }
  }

  &__text {
    flex: 2;
    font-family: 'Open Sans', sans-serif;
    margin-right: 3rem;
    margin-bottom: 3rem;
    font-size: 1.9rem;
  }

  &__contact {
    flex: 2;
    list-style: none;
  }

  &__info {
    flex: 1;
    list-style: none;
    margin-bottom: 7rem;
  }
  &__general {
    flex: 1;
    list-style: none;
    margin-bottom: 7rem;
  }
  &__social {
    flex: none;
    text-align: center;
  }

  &__item {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: $lightGrayishBlue;
  }
}

::placeholder {
  color: $lightGray;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;

  @include respond(tab-port) {
    display: block;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
